.random-planet{
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    gap: 20px;
    border-radius: 20px;
    min-height: 280px;
}
.random-planet .planet-image{
    height: 220px;
    width: 220px;
}
.random-planet .planet-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.random-planet .planet-details h1, .random-planet .planet-details ul li h6{
    font-weight: bold;
}