.item-list ul{
    border-radius: 10px;
    border: 1px solid #444;
}
@media screen and (max-width: 768px){
    .item-list ul{
        border-radius: 10px;
        border: 1px solid #444;
        min-width: 0;
    }
}
.item-list ul li{
    padding: 20px;
    font-weight: bold;
}

